.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: #08081d;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    font-size: 24px;
    margin: 16px 0;
}
.header-title strong{
    font-weight: 900;
}

.logo{
    display: flex;
    align-items: center;
    width: 160px;
    gap: 6px;
    text-transform: uppercase;
}

.logo img{
    width: 70px;
}

.logo-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-title .head{
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 700;
}

.logo-title .bottom{
    font-size: 15px;
    font-weight: 700;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-link{
    padding: 22px 20px;
    color: var(--text-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

.nav-item:hover{

}

.btn-primary{
    background: var(--primary-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 8px;
}

.btn-primary.btn-lg{
    font-size: 16px;
    padding: 18px 50px;
}

.btn-primary.zoom{
    animation: zoomIn 2s ease infinite;

}

@keyframes zoomIn {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.banner{
    background-image: url(../imgs/bg-banner.png);
    background-size: cover;
    background-position: top center;
    position: relative;
}

.banner-content{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.wrapper-content{
    max-width: 600px;
}

.wrapper-content h3{
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 20px;
    color: rgb(255, 222, 89);
}

.wrapper-content h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.4;
}

.wrapper-content p{

}

.banner-btn{
    margin-top: 40px;
}

.banner-lecture{
    max-width: 420px;
    position: relative;
    top: 4px;
    left: 70%;
}

.banner-lecture img{

}

.video-content{
    text-align: center;
    padding: 20px 0;
}

.video-iframe{
    display: inline-block;
    border-radius: 10px;
    border: 10px solid var(--primary-color);
}

.video-title{
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    font-size: 20px;
}


.wrapper-grid{
    padding: 40px 0;
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.content-grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}

.col-video{
    border: 6px solid var(--primary-color);
    border-radius: 6px;
}

.col-video video{
    width: 100%;
}

.col-body ul > li{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.col-body ul > li > span{
    width: 35px;
    display: block;
}

.col-body ul > li > p{
    width: calc(100% - 35px);
}


.text-word{
    font-size: 24px;
    max-width: 900px;
    margin: auto;
    font-style: italic;
    margin-bottom: 20px;
}

.text-author{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.ladi-group{
    padding: 40px 0;
}

.ladi-group-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px 50px;
}

.ladi-content{
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
    background-color: #5300ff;
    padding: 16px 20px;
    border-radius: 6px;
    line-height: 1.7;
}

.ladi-content svg{
    width: 30px;
    height: 30px;
}

.wrapper-button{
    margin: 50px 0 20px;
    text-align: center;
}

.gallery{
    padding: 40px 0;
}

.gallery-video{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.gallery-content{
    border: 5px solid #fff;
    border-radius: 6px;
}

.gallery-content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}


.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}


.contact-title{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 20px;
}

.contact-price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.price-old{
    padding: 14px 40px;
    background: #fff;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 26px;
    color: #08081d;
}

.price-new{
    padding: 14px 40px;
    background: #fe3384;
    font-weight: 700;
    font-size: 26px;
}

.contact-text{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.contact-text svg{
    width: 40px;
    height: 40px;
    fill: #fe3384;
}

.contact-text p{
    width: calc(100% - 40px);
}


.contact-form{
    background: #fef8ee;
    padding: 20px 40px;
}

.countdown{
    text-align: center;
}


.countdown ul li{
    display: inline-block;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    color: #08081d;
}

.countdown ul li span{
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: #08081d;
}


.form-content input{
    display: block;
    height: 44px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 14px;
}


.btn-contact{
    background-color: #fe3384;
    padding: 14px 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color);
    border: none;
    border-radius: 6px;
    font-size: 20px;
    width: 100%;
}


.partners{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.partner-content{
    width: 100%;
    height: 100%;
}

.partner-content img{
    object-fit: contain;
    height: 100%;
}


.ladi-box{
    list-style: disc;
    background: #fff;
    color: #08081d;
    padding: 20px 30px;
}

.ladi-box-text{
    margin-bottom: 10px;
    line-height: 1.6;
}

.ladi-box-text p span{
    font-size: 20px;
    padding-bottom: 10px;
    display: block;
}


.lectures{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.box__content{
    padding-top: 20px;
}

.program__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.program__image{
    width: 50%;
    position: relative;
}

.program__context{
    width: calc(50% - 40px);
    position: relative;
}

.context__list > li{
    position: relative;
    margin-bottom: 16px;
}

.context__list > li > svg {
    border: 1px solid #41f681;
    border-radius: 100%;
    background-color: transparent;
    fill: #41f681;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 4px;
    left: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-top-style: none;
    border-right-style: none;
}

.context__list > li > p{
    padding-left: 40px;
    font-weight: 500;
    color: var(--e-global-color-text);
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 30px;
}

.shape-1{
    position: absolute;
    top: -85px;
    right: -65px;
    width: 162px;
}

.shape-2{
    position: absolute;
    position: absolute;
    bottom: -70px;
    left: -70px;
    width: 150px;
    transform: rotate(-80deg);
}

.activities {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.activity__image {
    height: 100%;
}

.activity__image img {
    height: 100%;
    object-fit: cover;
}

.layout__innner{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.content__inner{
    padding: 30px;
    background: #fff;
    border-radius: 6px;
}

.content__image{
    max-width: 120px;
}

.content__name{
    padding: 14px 0;
    font-weight: 700;
    color: #000;
    font-size: 22px;
}

.content__list{
    padding-left: 30px;
    list-style: disc;
    color: #000;
}

.content__item{
    padding: 6px 0;
}

.box-form{

}

.form__course{
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background-image: linear-gradient(to right, #001e69 50%, #013e7c 20%);
}